<article class="page-content" gdColumns="100%" gdRows="auto 1fr auto">
  <header>
    <bookmarks-manager-header></bookmarks-manager-header>
  </header>
  <main class="page-content--main">
    <router-outlet></router-outlet>
  </main>
  <footer>
    <bookmarks-manager-footer></bookmarks-manager-footer>
  </footer>
</article>
