<div fxLayout="column">
  <h2 fxFlex>Add New Bookmark</h2>
  <div fxFlex fxLayout="row" fxLayoutAlign="end start">
    <a mat-button routerLink="/bookmarks">Show all</a>
  </div>
  <div fxFlex>
    <mat-card>
      <mat-card-content>
        <form
          fxLayout="column"
          (ngSubmit)="addBookmark()"
          #bookmarkForm="ngForm"
        >
          <mat-form-field fxFlex>
            <mat-label>Name</mat-label>
            <input
              name="name"
              matInput
              required
              #nameInput="ngModel"
              [(ngModel)]="bookmarkName"
            />
            <mat-error [hidden]="nameInput.valid || nameInput.pristine">
              Name is required
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <mat-label>Group</mat-label>
            <input
              name="group"
              matInput
              required
              #groupInput="ngModel"
              [(ngModel)]="bookmarkGroup"
              [matAutocomplete]="groupAutocomplete"
              (ngModelChange)="bookmarkGroupChanged$.next(groupInput.value)"
            />
            <mat-autocomplete #groupAutocomplete="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredGroups$ | async | orderBy"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
            <mat-error [hidden]="groupInput.valid || groupInput.pristine">
              Group is required
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <mat-label>URL</mat-label>
            <input
              name="url"
              matInput
              required
              pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)"
              #urlInput="ngModel"
              [(ngModel)]="bookmarkUrl"
            />
            <mat-error
              *ngIf="
                (urlInput.invalid || !urlInput.pristine) &&
                urlInput.hasError('required')
              "
            >
              URL is required
            </mat-error>
            <mat-error *ngIf="urlInput.invalid && urlInput.hasError('pattern')">
              Incorrect URL format
            </mat-error>
          </mat-form-field>
          <div>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!bookmarkForm.form.valid"
            >
              Add
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
