<div fxLayout="column">
  <h2 fxFlex>Bookmarks</h2>
  <div fxFlex fxLayout="row" fxLayoutAlign="end start">
    <a mat-button routerLink="/bookmarks/add">Add</a>
  </div>
  <div fxFlex>
    <div
      fxLayout="row"
      fxLayoutAlign="center start"
      fxLayoutGap="20px"
      fxLayout.lt-sm="column"
      fxLayoutAlign.lt-sm="start none"
    >
      <ng-container
        *ngIf="groupedBookmarks$ | async as groupedBookmarks; else emptyContent"
      >
        <mat-expansion-panel
          *ngFor="
            let groupBookmarks of groupedBookmarks | keyvalue | orderBy: 'key'
          "
          expanded
          fxFlex
          fxFlex.lt-sm="100%"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>{{ groupBookmarks.key }}</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list [multiple]="false">
            <mat-list-option
              role="listitem"
              *ngFor="let bookmark of groupBookmarks.value | orderBy: 'name'"
              (click)="showBookmark(bookmark.id)"
            >
              {{ bookmark.name }}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </ng-container>
      <ng-template #emptyContent>
        <mat-card>Bookmarks list is empty found.</mat-card>
      </ng-template>
    </div>
  </div>
</div>
