<h1 mat-dialog-title>Please, confirm action</h1>
<div mat-dialog-content>Are you sure you want to delete it?</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial color="primary" [mat-dialog-close]="true">
    Delete
  </button>
</div>
