<div fxLayout="column">
  <h2 fxFlex>Bookmarks</h2>
  <div fxFlex fxLayout="row" fxLayoutAlign="end start">
    <a mat-button routerLink="/bookmarks">Show all</a>
    <button
      mat-button
      color="warn"
      *ngIf="bookmark$ | async as bookmark"
      (click)="confirmDelete(bookmark.id)"
    >
      Delete
    </button>
  </div>
  <div fxFlex>
    <mat-card *ngIf="bookmark$ | async as bookmark; else emptyContent">
      <mat-card-header>
        <mat-card-title>{{ bookmark.name }}</mat-card-title>
        <mat-card-subtitle>Group: {{ bookmark.group }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a>
        </p>
      </mat-card-content>
    </mat-card>
    <ng-template #emptyContent>
      <mat-card>Bookmark was not found.</mat-card>
    </ng-template>
  </div>
</div>
