<div
  fxLayout="row"
  fxLayoutAlign="center center"
  *ngIf="isLoading$ | async; else content"
  class="loading-container"
>
  <mat-spinner></mat-spinner>
</div>
<ng-template #content>
  <router-outlet></router-outlet>
</ng-template>
